<!--
  This template loads for the 'tab.describe' state (app.js)
-->
<ion-view title="'Describe Page'">
  <ion-content has-header="true" has-tabs="true" padding="true">
    <h1> {{ title }} </h1>
  
    <h4><b>is a class of :</b><h4>

    <h4><b>Has sublasses :</b><h4>
  
    <h4><b>Definition</b><h4>
    <p class="appComment">{{ definition }}</p>
    </div>
    



    <!--PUBMED-->
    <!--<span>-->
    <!--<h4><b>Authors</b><h4>-->
    <!--<span ng-repeat="author in authors" >-->
    <!--<span><a> {{author["pubmed_vocabulary:fore_name"]}} {{author["pubmed_vocabulary:last_name"]}} </a></span>-->
    <!--</span>-->
    <!--</span>  -->
    <!---->
    <!--<div>-->
    <!--<h4><b>Abstract</b><h4>-->
    <!--<p class="appComment">{{ abstract }}</p>-->
    <!--</div>-->

  </ion-content>
</ion-view>
