<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-nav-bar></ion-nav-bar>
<ion-view title="'Search'">

  <ion-content>

    <!-- SEARCH BAR -->
    <div class="list list-inset" ng-show="!initPage()">
      <label class="item item-input bio2rdfinput">
	<i class="icon ion-search placeholder-icon"></i>
	<input type="text" placeholder="Typeahead Search" ng-model="queryTerm" ng-change="querySearch(1)">
        <button class="button button-clear" ng-click="queryTerm=''">
          &times;
        </button>
      </label>
    </div>

    <div ng-show="initPage()" style="text-align:center;">
      <img src="img/welcome.png" style="width:70%;">
    </div>

    <ion-list>
      <ion-item ng-repeat="elem in searchResultGraph" item="elem" type="item-text-wrap" href="#/tab/describe-{{currentDB}}?uri={{elem.uri}}">
        <h2>{{elem.label}}</h2>
      	<h3 style="margin-left: 30px; font-style:italic; color: grey">{{elem.description}}</h3>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="moreItemsAvailable" on-infinite="querySearch(0)"></ion-infinite-scroll>

  </ion-content>

</ion-view>
