<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="'Search'">

  <ion-content has-header="true" has-tabs="true" on-infinite-scroll="querySearch(0)">

    <!-- SEARCH BAR -->
    <div class="list list-inset">
      <label class="item item-input bio2rdfinput">
	<i class="icon ion-search placeholder-icon"></i>
	<input type="text" placeholder="Typeahead Search" ng-model="queryTerm" ng-change="querySearch(1)">
        <button class="button button-clear" ng-click="">
          &times;
        </button>
      </label>
    </div>

    <ion-list>
      <ion-item ng-repeat="elem in searchResultGraph" item="elem" type="item-text-wrap" href="#/tab/describe?uri={{elem['@id']}}&endpoint=doid">
        <h3>{{elem['rdfs:label']}}</h3>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="moreItemsAvailable"></ion-infinite-scroll>

  </ion-content>
</ion-view>
