<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default" animation="nav-title-slide-ios7">

  <!-- Search Tab -->
  <ion-tab title="Search" icon="icon ion-search" href="#/tab/search">
    <ion-nav-view name="search-tab"></ion-nav-view>
  </ion-tab>


  <!-- Describe Tab -->
  <ion-tab title="Describe" icon="icon ion-home" href="#/tab/describe">
    <ion-nav-view name="describe-tab"></ion-nav-view>
  </ion-tab>


  <!-- Favorite Tab -->
  <ion-tab title="Favorite" icon="icon ion-star" href="#/tab/favorite">
    <ion-nav-view name="favorite-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
