<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bio2RDF-mobile</name>
    <description>
      Bio2RDF provide a mobile application to browse into Bio2RDF connected biological databases.
    </description>
    <author email="Arnaud.Droit@crchudequebec.ulaval.ca" href="http://bio2rdf.org">
        Bio2RDF mobile team.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
