<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionic2rdf.bio2rdf" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bio2RDF-mobile</name>
    <description>
      Bio2RDF provide a mobile application to browse into Bio2RDF connected biological databases.
    </description>
    <author email="Arnaud.Droit@crchudequebec.ulaval.ca" href="http://bio2rdf.org">
        Bio2RDF mobile team.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="UIWebViewBounce" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <plugin name="Storage" value="org.apache.cordova.Storage" />
    <plugin name="Storage" value="org.apache.cordova.StatusBar" />
    <feature name="Device">
      <param name="ios-package" value="CDVDevice" />
    </feature>

    <platform name="ios">

      <!-- iOS 7.0+ -->
      <!-- iPhone / iPod Touch  -->
      <icon src="res/ios/icon-60.png" width="60" height="60" />
      <icon src="res/ios/icon-60@2x.png" width="120" height="120" />

      <!-- iPad -->
      <icon src="res/ios/icon-76.png" width="76" height="76" />
      <icon src="res/ios/icon-76@2x.png" width="152" height="152" />

      <!-- iOS 6.1 -->
      <!-- Spotlight Icon -->
      <!-- <icon src="res/ios/icon-40.png" width="40" height="40" /> -->
      <!-- <icon src="res/ios/icon-40@2x.png" width="80" height="80" /> -->

      <!-- iPhone / iPod Touch -->
      <icon src="res/ios/icon.png" width="57" height="57" />
      <icon src="res/ios/icon@2x.png" width="114" height="114" />
      <!-- iPad -->
      <icon src="res/ios/icon-72.png" width="72" height="72" />
      <icon src="res/ios/icon-72@2x.png" width="144" height="144" />

      <!-- iPhone Spotlight and Settings Icon -->
      <!-- <icon src="res/ios/icon-small.png" width="29" height="29" /> -->
      <!-- <icon src="res/ios/icon-small@2x.png" width="58" height="58" /> -->
      <!-- iPad Spotlight and Settings Icon -->
      <!-- <icon src="res/ios/icon-50.png" width="50" height="50" /> -->
      <!-- <icon src="res/ios/icon-50@2x.png" width="100" height="100" /> -->

    </platform>


</widget>
