<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <!-- <script src="js/lib/pace.min.js"></script> -->
    <!-- <link href="css/loading.css" rel="stylesheet"> -->

    <title>Bio2RDF-Mobile</title>
    
    <!-- ionic css -->
    <link href="lib/css/ionic.css" rel="stylesheet">
    
    <!-- ionic/angularjs scripts -->
    <script src="lib/js/ionic.bundle.js"></script>
    <!-- your app's css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- cordova script (this will be a 404 during development) -->
    <!-- <script src="cordova.js"></script> -->
   
    <!-- your app's script -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/dbcontrollers.js"></script>

    <!-- util lib -->
    <script src="js/lib/lodash.min.js"</script>
    <script src="cordova.js"></script>

  </head>
  


  <!-- 
       'starter' is the name of this angular module (js/app.js)
    -->
  <body ng-app="starter" animation="slide-left-right-ios7" ng-controller="MainCtrl">

    <!-- 'side-menu' -->
    <ion-side-menus>
      <!-- Center content -->
      <ion-pane ion-side-menu-content>

	<!-- Global Header Bar for all ion-nav-view -->
	<div class="bar bar-header bar-stable">  
	  <button class="button icon ion-navicon" ng-click="toggleLeftPanel()"></button>
	  <h1 class="title">
	    <img src="{{headerImg()}}" style="height:45px;"/>
	  </h1>
	  <button class="button icon {{iconStyle()}}" ng-click="toggleRightPanel()"></button>
	</div>

	<!-- 
	     The views will be rendered in the <ion-nav-view> directive below
	     Templates are in the /templates folder (but you could also
	     have templates inline in this html file if you'd like).
	  -->
	<ion-nav-view class="slide-left-right"></ion-nav-view>

      </ion-pane>

      <!-- Left menu -->
      <!-- Database Selection -->
      <ion-side-menu side="left" style="background-color: WhiteSmoke" ng-controller="LeftMenuCtrl" drag-content="true">
	<ion-content>

	  <h3 style="display:table; margin:0 auto; padding:10px">
	    <img src="{{header['http://xmlns.com/foaf/0.1/depiction']['@id']}}" style="height:45px; vertical-align:middle"/>
	  </h3>

	  <div style="text-align:center">
	    <input ng-model="searchText" placeholder="Search for a Database" style="display: inline; width: 200px; margin: 0 auto">
	    <button type="button" ng-click="searchText=''" style="display: inline">x</button>
	  </div>

	  <ion-list style="margin-top: 15px">
	    <ion-item class="dbItem" ng-repeat="db in databases | filter:searchText | orderBy:'tripleCount':true" type="item-text-wrap" item="db.title" ng-click="changeCurrentDatabase(db.id);" my-on-hold="onItemHold(item)">
	      <img src="{{db.foafDepiction}}" style="display: inline; height: 30px; vertical-align: middle"/>
	      <h2 style="display: inline; margin-left: 10px; color: black;">{{db.title}}</h2>
	      <p>
		<span style="float:right; font-style:italic">
		  {{db.tripleCount | number}} triples
		</span>
		<br>
		<span style="font-style: italic; color: #404073; font-size: small">
		  {{db.endpoint}} 
		</span>
	      </p>
	    </ion-item>
	  </ion-list>

	</ion-content>

      </ion-side-menu>

      <!-- Right menu -->
      <!-- Settings QuickLinks -->
      <!-- Different View (Skins) Selection -->
      <ion-side-menu side="right" style="background-color: WhiteSmoke;" ng-controller="RightMenuCtrl" drag-content="true">

	<ion-content>
	  <div class="item item-divider" ng-click="quickLinksCheck = !quickLinksCheck">
	    <h4 class="rightMenu" ng-class="{'active': quickLinksCheck, 'inactive': !quickLinksCheck}"> Quick Links </h4>
	  </div>

	  <ion-list style="margin-top: 15px;" ng-hide="quickLinksCheck">
	    <ion-item class="quickLinkItem" ng-repeat="l in links" ng-click="goToDescribe(l)">
	      <img src="{{getImg(l.db)}}" style="padding: 5px; height: 35px; vertical-align: middle">
	      {{l.label}}
	    </ion-item>
	  </ion-list>

	</ion-content>

      </ion-side-menu>

    </ion-side-menus>

  </body>

</html>
