/* app.css */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.boxblue {
    background-color: blue;
    width:220px;
    padding:10px;
    border:5px solid gray;
    margin:0 auto;
}

.appComment {
        padding:10px;
        border:1px solid gray;
}

.uriButton {
        background-color:blue;
}

.dbItem {
    margin-top: 5px;
}


h4.rightMenu {
    display: table;
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: #8a6de9;
    color: white;
    margin-top: 10px;
}
